@import "./variables.css";

:root,
body {
  box-sizing: border-box;
  font-size: 16px;
  overflow: hidden;
  font-family: var(--fontFamilySerif);

  background-color: var(--mainBackgroundColor);
  color: var(--mainForegroundColor);
}

fieldset {
  border: none;
  border-radius: 0;
  border-left: 6px solid var(--mainFieldsetColor);
  margin-bottom: 30px;
  width: 100%;
}

fieldset:disabled {
  border-color: var(--disableForegroundColor);
}

fieldset:disabled>input,
select,
button>* {
  background-color: var(--disableBackgroundColor);
}

fieldset legend {
  font-size: 18px;
  margin: auto;
  font-weight: 700;
  color: var(--mainFieldsetColor);
}

fieldset:disabled legend {
  color: var(--disableForegroundColor)
}