:root {
  --mainBackgroundColor: rgb(255, 255, 255);
  --mainForegroundColor: rgb(0, 0, 0);
  --secondaryBackgroundColor: rgb(255, 255, 255);
  --orange: rgb(244, 120, 37);
  --lightOrange: rgb(255, 173, 92);
  --gray: #949494;
  --secondaryBackgroundColor: var(--orange);
  --mainHoverColor: var(--orange);
  --mainColor: var(--orange);
  --mainShadowColor:  rgba(0, 0, 0, 0.2);
  --disableBackgroundColor:  rgba(0, 0, 0, 0.15);
  --disableForegroundColor: #949494;
  --popperBorderColor: rgba(0 ,0 ,0, 0.3);
  --mainFieldsetColor: var(--orange);
  --selectBackgroundColor: #fff;
  --fontFamilySerif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --fontFamilyMonospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --mainBackgroundColor: #23222b;
    --secondaryBackgroundColor: rgb(40, 40, 40);
    --mainForegroundColor: rgb(255, 255, 255);
    --mainShadowColor: rgba(255, 255, 255, 0.2);
    --disableBackgroundColor: rgba(255, 255, 255, 0.15);
    --disableForegroundColor: #C6C6C6;
    --popperBorderColor: rgba(255, 255, 255, 0.3);
    --selectBackgroundColor: rgb(48, 54, 61);
    --mainFieldsetColor: var(--lightOrange);
    --mainHoverColor: var(--lightOrange);
    --gray: #C6C6C6;
  }
}