<template>
  <ToggleButton
    id="appEnableToggle"
    :label="getLabel()"
    :is-checked="appState.isEnabled"
    @click="toggleApp"
  />
</template>

<script lang="ts">
import { defineComponent } from "vue";
import Browser from "webextension-polyfill";
import ToggleButton from "./ToggleButton.vue";
import * as App from "../lib/app"
import { isEnabled } from "../lib/utils";
import { appState } from "../sharedReactives";

export default defineComponent({
  components: { ToggleButton },
  data() {
    return {
      label: "",
      appState
    }
  },
  watch: {
    appState: {
      handler() {
        this.updateAppState()
      },
      deep: true
    }
  },
  methods: {
    getLabel() {
      return Browser.i18n.getMessage("enableExtension")
    },
    async toggleApp() {
      await App.toggle()
      appState.isEnabled = !appState.isEnabled
    },
    async updateAppState() {
      appState.isEnabled = await isEnabled()
    }
  }
})
</script>

<style scoped>
* {
  font-weight: 700;
}
</style>
