<template>
  <div :class="[{ disable: !appState.isEnabled }, 'container-list']">
    <div :class="[{ disable: !appState.isEnabled }, 'container-label']">
      <label for="instanceDropdown">
        {{ backendPickerLabel }}
        <HelpButton :content="backendPickerHelp" />
      </label>
    </div>
    <div :class="[{disable: !appState.isEnabled}, 'container-dropdown']">
      <select
        id="instanceDropdown"
        v-model="selectedInstance"
        :class="[{ disable: !appState.isEnabled }, 'dropdown']"
        name="instanceDropdown"
        @change="save()"
      >
        <option
          v-if="instances[0].url == ''"
          value=""
          selected
          disabled
        >
          Retrieving instances list...
        </option>
        <option
          v-for="instance in instances"
          v-else
          :key="instance.url"
          :value="instance.url"
        >
          {{ instance.url }}<span
            v-if="instance.ping"
          > ({{ instance.ping }} ms)</span>
        </option>
      </select>
      <font-awesome-icon
        ref="iconPing"
        :class="[{ rotate: isRotating, disable: !appState.isEnabled }, iconPing]"
        icon="gauge-high"
        :title="backendPickerFastest"
        @click="sortByPing()"
      />
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue"
import * as Backend from "../lib/backend"
import { library } from '@fortawesome/fontawesome-svg-core'
import { faGaugeHigh } from '@fortawesome/free-solid-svg-icons'
import { BROWSER_MESSAGE, sortByPing, isEnabled } from "../lib/utils"
import HelpButton from "./HelpButton.vue"
import Browser from "webextension-polyfill"
import { appState } from "../sharedReactives"

library.add(faGaugeHigh)

export default defineComponent({
  components: { HelpButton },
  data() {
    return {
      selectedInstance: "",
      instances: [ {
        url: "",
        ping: 0
      } ],
      backendPickerHelp: Browser.i18n.getMessage("instanceBackendPickerHelp"),
      backendPickerLabel: Browser.i18n.getMessage("instanceBackendPicker"),
      backendPickerFastest: Browser.i18n.getMessage("instanceBackendPickerFastest"),
      iconPing: "iconPing",
      isRotating: false,
      appState
    };
  },
  async created() {
    this.instances = await Backend.getIndexedInstances() || this.instances
    await this.updateSelectedInstance()
  },
  mounted() {
    Browser.runtime.onMessage.addListener(async (message) => {
      switch (message) {
        case BROWSER_MESSAGE.INSTANCE_SELECTED_UPDATE:
          await this.updateSelectedInstance()

          break
        case BROWSER_MESSAGE.APP_DISABLE:
          appState.isEnabled = false

          break
        case BROWSER_MESSAGE.APP_ENABLE:
          appState.isEnabled = true

          break
      }
    })
  },
  methods: {
    async sortByPing() {
      if (appState.isEnabled) {
        this.isRotating = true;
        this.instances = (await Backend.getInstancesPing())?.sort(sortByPing) || this.instances
        this.selectedInstance = this.instances[0].url
        await this.save();
        this.isRotating = false;
      }
    },
    async save() {
      await Backend.savePreferredInstance(new URL(this.selectedInstance))
      Browser.runtime.sendMessage(BROWSER_MESSAGE.INSTANCE_SELECTED_UPDATE)
    },
    async isInvidiousActive() {
      return {
        active: await isEnabled("invidious")
      };
    },
    async updateSelectedInstance() {
      this.selectedInstance = await Backend.getPreferredInstance() ?? this.instances[0].url
    }
  }
})
</script>

<style scoped>
@import "../assets/css/variables.css";


.container-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: stretch;
  width: 100%;
  cursor:default;
}

.container-label {
  margin: 10px;
}

.container-dropdown {
  margin: 10px;
  color: var(--mainForegroundColor);
  border: 1px solid var(--gray);
  font-size: 16px;
  border-radius: 0.25rem;
  line-height: 1.5;
}

.container-list.disable {
  color: var(--disableForegroundColor)
}

.container-dropdown:not(.disable):hover {
  border-color: var(--mainHoverColor);
}

.container-dropdown.disable {
  background-color: var(--disableBackgroundColor);
  border-color: var(--disableBackgroundColor);
}

.dropdown {
  background: transparent none;
  color: var(--mainForegroundColor);
  border: 0;
  text-overflow: ellipsis;
  cursor: pointer;
  padding-left: 12px;
  font-size: 16px;
  height: min-content;
}

.dropdown.disable:hover {
  cursor: default;
}

.iconPing{
  margin-left: 5px;
  margin-right: 5px;
}

.iconPing:not(.disable):hover {
  cursor: pointer;
  color: var(--mainHoverColor);
}

.rotate:not(.disable) {
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}
</style>
