<template>
  <button
    :class="[{disable: !appState.isEnabled}]"
    type="button"
  >
    {{ value }} 
  </button>
</template>

<script lang="ts">
import { appState } from "../sharedReactives";
import { defineComponent } from "vue";

export default defineComponent({
  props: {
    value: String
  },
  data() {
    return {
      appState
    }
  }
})
</script>

<style scoped>
@import '../assets/css/variables.css';

button {
  background-color: var(--mainBackgroundColor);
  color: var(--mainForegroundColor);
  border: 1px solid var(--popperBorderColor);
  border-radius: 3px;
  font-size: 16px;
  height: 30px;
  font-weight: 600;
  cursor: pointer;
  padding: 0 12px;
  text-align: center;
  line-height: normal;
}

button:hover {
  border-color: var(--mainHoverColor);
}

button.disable {
  color: var(--gray);
  background-color: var(--mainDisableColor);
}

button.disable:hover {
  border-color: var(--popperBorderColor);
  cursor: default;
}
</style>
