<template>
  <BaseButton
    :value="buttonValue"
    @click="clear()"
  />
</template>

<script lang="ts">
import { defineComponent } from "vue";
import * as Cache from "../lib/cache"
import BaseButton from "./BaseButton.vue"
import Browser from "webextension-polyfill";

export default defineComponent({
  components: { BaseButton },
  data() {
    return {
      buttonValue: Browser.i18n.getMessage('cacheClear')
    }
  },
  methods: {
    clear() {
      Cache.clear();
    }
  }
})

</script>
