<template>
  <FieldsetBase legend="Instance Configuration">
    <BackendPicker />
    <!-- <OriginalRedirectToggle /> -->
  </FieldsetBase>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import BackendPicker from "./BackendPicker.vue";
import FieldsetBase from "./FieldsetBase.vue";
// import OriginalRedirectToggle from "./OriginalRedirectToggle.vue";

export default defineComponent({
  components: {
    BackendPicker,
    FieldsetBase,
    // OriginalRedirectToggle
  }
})
</script>
