<template>
  <FieldsetBase legend="Reset zone">
    <CacheClearButton />
    <SettingsResetButton />
  </FieldsetBase>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import FieldsetBase from "./FieldsetBase.vue";
import CacheClearButton from "./CacheClearButton.vue";
import SettingsResetButton from "./SettingsResetButton.vue";

export default defineComponent({
  components: {
    FieldsetBase,
    CacheClearButton,
    SettingsResetButton
  }
})
</script>
