<template>
  <fieldset :disabled="!appState.isEnabled">
    <legend>{{ legend }}</legend>
    <slot />
  </fieldset>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import { appState } from "../sharedReactives";
import * as Settings from "../lib/settings"
import { BROWSER_MESSAGE } from "../lib/utils";
import Browser from "webextension-polyfill";

export default defineComponent({
  props: {
    legend: String
  },
  data() {
    return {
      appState
    }
  },
  async mounted() {
    appState.isEnabled = (await Settings.load()).isEnabled

    Browser.runtime.onMessage.addListener((message) => {
      switch(message) {
        case BROWSER_MESSAGE.REDIRECTION_DISABLE:
        case BROWSER_MESSAGE.APP_DISABLE:
          appState.isEnabled = true
          
          break
        case BROWSER_MESSAGE.REDIRECTION_ENABLE:
        case BROWSER_MESSAGE.APP_ENABLE:
          appState.isEnabled = false
          
          break
      }
    })
  }
})
</script>
