<template>
  <Popper
    arrow
    open-delay="0"
    close-delay="0"
  >
    <font-awesome-icon
      class="popperButton"
      :icon="['far', 'circle-question']"
      :title="buttonTitle"
    />
    <template #content>
      {{ content }}
    </template>
  </Popper>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import Popper from "vue3-popper";
import { library } from '@fortawesome/fontawesome-svg-core'
import { faCircleQuestion } from '@fortawesome/free-regular-svg-icons'
import Browser from "webextension-polyfill";

library.add(faCircleQuestion)

export default defineComponent({
  components: { Popper },
  props: {
    content: String
  },
  data() {
    return {
      isActive: false,
      buttonTitle: Browser.i18n.getMessage('helpButtonTitle')
    };
  }
})
</script>

<style>
@import "../assets/css/variables.css";

:root {
  --popper-theme-background-color: var(--mainBackgroundColor);
  --popper-theme-background-color-hover: var(--mainBackgroundColor);
  --popper-theme-text-color: var(--mainForegroundColor);
  --popper-theme-border-width: 1px;
  --popper-theme-border-style: solid;
  --popper-theme-border-radius: 3px;
  --popper-theme-border-color: var(--popperBorderColor);
  --popper-theme-padding: 10px;
  --popper-theme-max-width: 50vw;
  --popper-theme-box-shadow: 0 6px 10px -6px var(--mainShadowColor);
}
</style>

<style scoped>
.popperButton {
  cursor: pointer;
  margin-left: 5px;
}

</style>
