<template>
  <div :class="[{ disable: !appState.isEnabled }, 'mainHeaderContainer']">
    <Sepia />
    <p class="mainHeaderTitle">
      {{ appName }}
    </p>
  </div>
  <AppEnableToggle />
  <hr class="mainHeaderSeparation">
</template>

<script lang="ts">
import Sepia from './Sepia.vue'
import { defineComponent } from 'vue'
import Browser from 'webextension-polyfill'
import AppEnableToggle from './AppEnableToggle.vue'
import { appState } from '../sharedReactives'

export default defineComponent({
  components: {
    Sepia,
    AppEnableToggle
  },
  data() {
    return {
      appName: Browser.runtime.getManifest().name,
      appState
    }
  }
})
</script>

<style scoped>
.mainHeaderContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: stretch;
  width: 100%;

  margin: 0px 20px 0px 0px;
}

.mainHeaderContainer.disable {
  color: var(--disableForegroundColor);
}

.mainHeaderTitle {
  align-self: flex-end;
  font-size: 32px;
  font-weight: 700;
  text-overflow: ellipsis;
  font-family: var(--fontFamilySerif);
}

.mainHeaderSeparation {
  margin-bottom: 20px;
}
</style>
