<template>
  <div class="container">
    <div class="containerHeader">
      <MainHeader />
    </div>
    <form>
      <FieldsetRedirection
        class="containerRedirection"
      />
      <FieldsetReset
        class="
        containerCache"
      />
    </form>
  </div>
</template>

<script lang="ts">
import MainHeader from './MainHeader.vue'
import { defineComponent } from 'vue'
import FieldsetRedirection from './FieldsetRedirection.vue'
import FieldsetReset from './FieldsetReset.vue'
import AppEnableToggle from './AppEnableToggle.vue'

export default defineComponent({
  name: "App",
  components: {
    MainHeader,
    FieldsetRedirection,
    FieldsetReset,
    AppEnableToggle
  }
})
</script>

<style>
@import "../assets/css/global.css";
@import "../assets/css/variables.css";

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: stretch;
  min-height: 300px;
}

.containerCache {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: stretch;
  width: 100%;
}
</style>
