<template>
  <ToggleButton
    id="peertubeRedirectToggle"
    :is-checked="appState.redirection.toOriginalInstance"
    :label="label"
    @click="toggle"
  />
</template>
<script lang="ts">
import { defineComponent } from "vue"
import ToggleButton from "./ToggleButton.vue"
import * as Settings from "../lib/settings"
import { appState } from "../sharedReactives"
import Browser from "webextension-polyfill"
import { BROWSER_MESSAGE } from "../lib/utils"

export default defineComponent({
  components: { ToggleButton },
  data() {
    return {
      appState,
      label: "Redirect to original PeerTube instance"
    }
  },
  watch: {
    appState: {
      handler() {
        this.updateAppState()
      },
      deep: true
    }
  },
  mounted() {
    Browser.runtime.onMessage.addListener((message) => {
      switch (message) {
        case BROWSER_MESSAGE.REDIRECTION_PEERTUBE_TOGGLE:
          appState.redirection.toOriginalInstance = !appState.redirection.toOriginalInstance

          break
      }
    })
  },
  methods: {
    async toggle() {
      const s = await Settings.load()
      
      s.redirection.toOriginalInstance = !s.redirection.toOriginalInstance

      Settings.save(s)
      Browser.runtime.sendMessage(BROWSER_MESSAGE.REDIRECTION_PEERTUBE_TOGGLE)
    },
    async updateAppState () {
      appState.redirection.toOriginalInstance = await Settings.get('redirection.toOriginalInstance')
    }
  }
})
</script>
