<template>
  <div class="PopupContainer">
    <div class="PopupContainerSettings">
      <SettingsButton />
    </div>
    <div class="PopupContainerHeader">
      <MainHeader />
    </div>
    <form>
      <div class="PopupContainerInstance">
        <FieldsetRedirection />
      </div>
    </form>
  </div>
</template>

<script lang="ts">
import FieldsetRedirection from './FieldsetRedirection.vue'
import MainHeader from './MainHeader.vue'
import SettingsButton from './SettingsButton.vue'
import { defineComponent } from 'vue'

export default defineComponent({
  components: {
    FieldsetRedirection,
    MainHeader,
    SettingsButton
  }
})
</script>

<style scoped>
@import "../assets/css/global.css";
@import "../assets/css/variables.css";

.PopupContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: stretch;
  width: 100%;
}

.PopupContainerSettings {
  margin-left: auto;
  margin-bottom: 0;
}

.PopupContainerSettings:hover {
  cursor: pointer;
  color: var(--mainHoverColor);
}

.PopupContainerHeader {
  width: 70%;
}

.PopupContainerInstance {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: stretch;
  width: 100%;
}
</style>
