<template>
  <div
    :title="toggleTitle()"
    :class="[{ grayscale: !appState.isEnabled }, 'sepia']"
    @click="toggleApp"
  />
</template>

<script lang="ts">
import * as App from "../lib/app"
import { defineComponent } from "vue"
import Browser from "webextension-polyfill"
import { appState } from "../sharedReactives"

export default defineComponent({
  data() {
    return {
      appState,
      isGray: false,
      sepiaTitle: ""
    }
  },
  mounted() {
    this.sepiaTitle = Browser.i18n.getMessage(appState.isEnabled ? "enableExtension" : "disableExtension")
  },
  methods: {
    toggleTitle() {
      return appState.isEnabled ? Browser.i18n.getMessage("disableExtension") : Browser.i18n.getMessage("enableExtension")
    },
    async toggleApp() {
      await App.toggle()
      appState.isEnabled = !appState.isEnabled
    }
  }
})
</script>

<style scoped>
.sepia {
  display: block;
  width: 64px;
  height: 64px;
  cursor: pointer;
  background-image: url("../assets/icons/sepia64.png")
}

.grayscale {
  filter: grayscale(1);
}
</style>
