<template>
  <div class="ptcompanion-settings-group">
    <BaseButton
      :value="buttonValue"
      @click="reset()"
    />
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import Browser from "webextension-polyfill";
import * as Settings from "../lib/settings"
import BaseButton from "./BaseButton.vue"


export default defineComponent({
  components: { BaseButton },
  data() {
    return {
      buttonValue: Browser.i18n.getMessage('settingsReset')
    }
  },
  methods: {
    reset() {
      Settings.resetSettings();
    }
  }
})

</script>
