<template>
  <div :class="[{ disable: id !== 'appEnableToggle' && !appState.isEnabled }, 'toggleButton']">
    <label :for="id">{{ label }}</label>
    <input
      :id="id"
      ref="checkbox"
      :class="[{ disable: id !== 'appEnableToggle' && !appState.isEnabled }]"
      type="checkbox"
      :checked="isChecked"
    >
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import { appState } from "../sharedReactives";

export default defineComponent({
  props: {
    label: String,
    id: String,
    isChecked: Boolean
  },
  data() {
    return {
      appState
    }
  }
})
</script>

<style scoped>
@import "../assets/css/variables.css";

.toggleButton{
	display: flex;
  align-items: center;
	padding: 0;
	justify-content: space-around;
  cursor: pointer;
}

.toggleButton.disable {
  color: var(--gray);
  cursor: default;
}

.toggleButton input{
  outline: none;
  height: 16px;
  width: 32px;
  border-radius: 16px;
  -webkit-appearance: none;
  position: relative;
  background: var(--mainBackgroundColor);
	border: 1px solid var(--gray);
  cursor: pointer;
}

.toggleButton input:not(.disable):hover {
  border-color: var(--mainHoverColor);
}

.toggleButton input.disable {
  background-color: var(--disableBackgroundColor);
  border-color: var(--disableBackgroundColor);
  cursor: default;
}

.toggleButton input.disable:checked {
  background-color: var(--disableBackgroundColor);
  color: var(--gray)
}
.toggleButton input:checked{
  background: var(--mainHoverColor);
}
.toggleButton input:before{
  position: absolute;
  content: "";
  left: 0;
  height: 100%;
  width: 16px;
  background: var(--mainForegroundColor);
  border-radius: 16px;
  transform: scale(0.85);
  transition: left 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
input:checked:before{
  left: 14px;
}
</style>
